%h2 Rails Examples and Tutorials
%p
  Tutorials for the open source example apps from the
  %a{:href => "http://railsapps.github.com/"} RailsApps project.
%table.table
  %tr
    %th Example App
    %th Tutorial
    %th Comments
  %tr
    %td
      %a{:href => "http://railsapps.github.com/rails-prelaunch-signup/"} Startup Prelaunch Signup App
    %td
      %a{:href => "http://railsapps.github.com/tutorial-rails-prelaunch-signup.html"} Tutorial
    %td For a startup prelaunch signup site
  %tr
    %td
      %a{:href => "https://github.com/RailsApps/rails3-devise-rspec-cucumber"} Devise, RSpec, Cucumber
    %td
      %a{:href => "http://railsapps.github.com/tutorial-rails-devise-rspec-cucumber.html"} Tutorial
    %td Devise for authentication with ActiveRecord and SQLite for a database
  %tr
    %td
      %a{:href => "https://github.com/RailsApps/rails3-bootstrap-devise-cancan"} Twitter Bootstrap, Devise, CanCan
    %td
      %a{:href => "http://railsapps.github.com/tutorial-rails-bootstrap-devise-cancan.html"} Tutorial
    %td
      Devise for authentication, CanCan for authorization, Twitter Bootstrap for
      %span.caps CSS
  %tr
    %td
      %a{:href => "https://github.com/RailsApps/rails3-mongoid-devise"} Devise, Mongoid
    %td
      %a{:href => "http://railsapps.github.com/tutorial-rails-mongoid-devise.html"} Tutorial
    %td Devise for authentication with a MongoDB datastore
  %tr
    %td
      %a{:href => "https://github.com/RailsApps/rails3-mongoid-omniauth"} OmniAuth, Mongoid
    %td
      %a{:href => "http://railsapps.github.com/tutorial-rails-mongoid-omniauth.html"} Tutorial
    %td OmniAuth for authentication with a MongoDB datastore
  %tr
    %td
      %a{:href => "https://github.com/RailsApps/rails3-subdomains"} Subdomains, Devise, Mongoid
    %td
      %a{:href => "http://railsapps.github.com/tutorial-rails-subdomains.html"} Tutorial
    %td Basecamp-style subdomains with Devise and MongoDB