#free-access.modal.hide
  .modal-body
    %p
      %span.label.label-success 
        FREE ACCESS
    .tutorial-list
      %h4 Basic Tutorials
      %ul
        %li 
          %a{:href => "http://railsapps.github.com/tutorial-rails-devise-rspec-cucumber.html"} Devise, RSpec, Cucumber
        %li
          %a{:href => "http://railsapps.github.com/tutorial-rails-mongoid-devise.html"} Devise, Mongoid
        %li
          %a{:href => "http://railsapps.github.com/tutorial-rails-mongoid-omniauth.html"} OmniAuth, Mongoid
        %li
          %a{:href => "http://railsapps.github.com/tutorial-rails-subdomains.html"} Subdomains
    %p
      %span.label.label-warning 
        UPGRADE FOR ACCESS
    .tutorial-list
      %h4 Premium Tutorials
      %ul
        %li 
          %a{:href => "http://railsapps.github.com/tutorial-rails-bootstrap-devise-cancan.html"} Twitter Bootstrap, Devise, CanCan
        %li 
          %a{:href => "http://railsapps.github.com/tutorial-rails-bootstrap-devise-cancan.html"} Startup Prelaunch Signup App
  .modal-footer
    %a.btn{"data-dismiss" => "modal", :href => "#"} Close

#subscription.modal.hide
  .modal-body
    %p
      %span.label.label-success 
        FREE TRIAL TODAY
    .tutorial-list
      %h4 Premium Tutorials
      %ul
        %li 
          %a{:href => "http://railsapps.github.com/tutorials-rails-bootstrap-devise-cancan.html"} Twitter Bootstrap, Devise, CanCan
        %li 
          %a{:href => "http://railsapps.github.com/tutorial-rails-prelaunch-signup.html"} Startup Prelaunch Signup App
      %h4 Basic Tutorials
      %ul
        %li 
          %a{:href => "http://railsapps.github.com/tutorial-rails-devise-rspec-cucumber.htmll"} Devise, RSpec, Cucumber
        %li
          %a{:href => "http://railsapps.github.com/tutorial-rails-mongoid-devise.html"} Devise, Mongoid
        %li
          %a{:href => "http://railsapps.github.com/tutorial-rails-mongoid-omniauth.html"} OmniAuth, Mongoid
        %li
          %a{:href => "http://railsapps.github.com/tutorial-rails-subdomains.html"} Subdomains
      %p
        Click a link to any tutorial for instant access.
  .modal-footer
    %a.btn{"data-dismiss" => "modal", :href => "#"} Close

#welcome.hero-unit
  %h1 
    %img{:alt => "Rails Application for a Startup Prelaunch Signup Site", :height => "100", :src => "http://railsapps.github.com/images/tutorial.png", :title => "Rails Application for a Startup Prelaunch Signup Site", :width => "120"}/
    The tutorials.
  %p
    Your tutorial subscription
    %br
      supports ongoing development.
      
  %ul.thumbnails.pull-center
    %li.span3
      .thumbnail
        %img{:height => "40", :width => "40", :alt => "Simon", :src => "http://a0.twimg.com/profile_images/1299866823/me_normal"}
        %p One of the best resources for Rails developers, tons of useful tutorials, advice, best practices... Thank you!
    %li.span3
      .thumbnail
        %img{:height => "40", :width => "40", :alt => "Daniel May", :src => "http://a0.twimg.com/profile_images/1299379352/dmay_normal.jpg"}
        %p @rails_apps Awesome tutorials covering #rails, #mongoid, #devise. Keep up the great work & even do more?
    %li.span3
      .thumbnail
        %img{:height => "40", :width => "40", :alt => "Jordan Burke", :src => "http://a0.twimg.com/profile_images/1633972767/IMG_0426-1__1__normal.JPG"}
        %p Big thanks to @rails_apps for providing some great RoR starter apps and tutorials.

#featured.span10.offset1.well
  .ribbon-featured
    %a{:href => "#"} 
      FEATURED
      %br TUTORIAL
  %h2 Devise with CanCan and Twitter Bootstrap
  %p
    Rails 3.2 example application shows how to use Devise with CanCan and Twitter Bootstrap.
  %ul
    %li Devise gives you ready-made authentication and user management.
    %li CanCan provides authorization for administrator access.
    %li Twitter Bootstrap is a front-end framework for CSS styling.

                      
#price-table-wrapper.row
  #price-table.span12.offset1
    .flex.well.pricehover
      .price
        %h2 Hobo
      %ul.unstyled.pricing.animated.fadeIn
        %li Access to Basic Tutorials
        %li Single User
        %li No Membership
      %h3 FREE
      %button.btn.btn-success{"data-toggle" => "modal", :href => "#free-access", :id => "hobo"} Subscribe
    .flex.well.pricehover
      .price
        %h2 Student
      %ul.unstyled.pricing.animated.fadeIn
        %li Access to Basic + Premium Tutorials
        %li Single User
        %li Annual Membership
      %h3 $12
      %button.btn.btn-success{"data-toggle" => "modal", :href => "#subscription", :id => "student"} Subscribe
    .flex.well.pricehover.featured
      .price.featuredprice
        %h2 Pro
      %ul.unstyled.pricing.animated.fadeIn
        %li Access to Basic + Premium Tutorials
        %li Single User
        %li Monthly Membership
      %h3 $9
      %button.btn.btn-success{"data-toggle" => "modal", :href => "#subscription", :id => "pro"} Subscribe
    .flex.well.pricehover
      .price
        %h2 Team
      %ul.unstyled.pricing.animated.fadeIn
        %li All the Benefits of Pro... for Your Entire Team
        %li Multiple Users
        %li Annual Membership
      %h3 $179
      %button.btn.btn-success{"data-toggle" => "modal", :href => "#subscription", :id => "team"} Subscribe

#tutorials.well.span10
  .span1
    .ribbon-tutorials
      %a{:href => "#"} 
        GO PRO!
        %br GET ALL THIS
  .span4
    %h4 Basic Tutorials
    %dl
      %dt Authentication and Testing with SQL
      %dd Devise for user management with RSpec and Cucumber for testing and behavior-driven development (BDD). ActiveRecord with SQLite database.
      %dt Authentication and Testing with NoSQL
      %dd Devise plus RSpec and Cucumber for testing and BDD. Mongoid with MongoDB datastore.
      %dt OmniAuth Authentication with NoSQL
      %dd Authentication using OmniAuth with a service provider such as Twitter or Facebook. RSpec and Cucumber for testing and BDD. Mongoid with MongoDB datastore.
      %dt Subdomains with NoSQL 
      %dd Basecamp-style subdomains combined with Devise for user management plus RSpec and Cucumber for testing. Mongoid with MongoDB datastore.
  .span4
    %h4 Premium Tutorials
    %dl
      %dt Authentication with Authorization plus Twitter Bootstrap
      %dd.highlight
        %span.highlight
          Devise for user management with CanCan for an administrative dashboard plus Twitter Bootstrap for design.
      %dt Web Startup Prelaunch Site
      %dd Full-featured application to register visitors who wish to be notified when a site is launched. Includes Twitter Boostrap modal windows, integration with MailChimp for broadcast email, administrative dashboard with "invite" feature, and much more.

        

    
