#welcome
  .hero-unit
    %h1 
      %img{:alt => "Rails Application for a Startup Prelaunch Signup Site", :height => "100", :src => "http://railsapps.github.com/images/tutorial.png", :title => "Rails Application for a Startup Prelaunch Signup Site", :width => "120"}/
      The tutorials.
    %p
      Your purchase of a tutorial
      %br
        supports ongoing development.

#premium
  .row.well
    %table.table
      %tr
        %th Example App
        %th Tutorial
        %th Comments
      %tr
        %td
          %a{:href => "http://railsapps.github.com/rails-prelaunch-signup/"} Startup Prelaunch Signup App
        %td
          %a{:href => "http://railsapps.github.com/tutorial-rails-prelaunch-signup.html"} Tutorial
        %td For a startup prelaunch signup site
      %tr
        %td
          %a{:href => "https://github.com/RailsApps/rails3-bootstrap-devise-cancan"} Twitter Bootstrap, Devise, CanCan
        %td
          %a{:href => "http://railsapps.github.com/tutorial-rails-bootstrap-devise-cancan.html"} Tutorial
        %td
          Devise for authentication, CanCan for authorization, Twitter Bootstrap for
          %span.caps CSS
        
#freebies
  .row.well
    %table.table
      %tr
        %th Example App
        %th Tutorial
        %th Comments
      %tr
        %td
          %a{:href => "https://github.com/RailsApps/rails3-devise-rspec-cucumber"} Devise, RSpec, Cucumber
        %td
          %a{:href => "http://railsapps.github.com/tutorial-rails-devise-rspec-cucumber.html"} Free Tutorial
        %td Devise for authentication with ActiveRecord and SQLite for a database
      %tr
        %td
          %a{:href => "https://github.com/RailsApps/rails3-mongoid-devise"} Devise, Mongoid
        %td
          %a{:href => "http://railsapps.github.com/tutorial-rails-mongoid-devise.html"} Free Tutorial
        %td Devise for authentication with a MongoDB datastore
      %tr
        %td
          %a{:href => "https://github.com/RailsApps/rails3-mongoid-omniauth"} OmniAuth, Mongoid
        %td
          %a{:href => "http://railsapps.github.com/tutorial-rails-mongoid-omniauth.html"} Free Tutorial
        %td OmniAuth for authentication with a MongoDB datastore
      %tr
        %td
          %a{:href => "https://github.com/RailsApps/rails3-subdomains"} Subdomains, Devise, Mongoid
        %td
          %a{:href => "http://railsapps.github.com/tutorial-rails-subdomains.html"} Free Tutorial
        %td Basecamp-style subdomains with Devise and MongoDB